*.iml.gradle/local.properties/.idea/workspace.xml/.idea/libraries.DS_Store/build/captures.externalNativeBuildapp.iml
/.idea/libraries/Gradle__android_arch_core_common_1_1_0_jar.xml
/.idea/libraries/*.xml
/.idea/libraries
libraries
/.idea
