<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.demo.phy.phybasedemo">

    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 本地储存读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">

        <activity android:name=".ui.main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.demo.phy.phybasedemo.ui.douban.activity.MvpDemoMainActivity" android:theme="@style/Theme.Design.Light.NoActionBar"></activity>
        <activity android:name="com.demo.phy.phybasedemo.ui.douban.activity.MovieDetailActivity"></activity>
        <activity android:name="com.demo.phy.phybasedemo.ui.dialog.activity.DialogActivity"></activity>
        <activity android:name="com.demo.phy.phybasedemo.ui.ipc.activity.IPCActivity"></activity>
        <activity android:name="com.demo.phy.phybasedemo.ui.fragment.activity.TabsActivity"></activity>
        <activity android:name="com.demo.phy.phybasedemo.ui.notifiction.activity.NotifictionActivity"></activity>
        <activity android:name="com.demo.phy.phybasedemo.ui.files.activity.FileActivity"></activity>
        <activity android:name="com.demo.phy.phybasedemo.ui.files.activity.FileClassifySelectActivity"></activity>

        <service
            android:name="com.demo.phy.phybasedemo.service.MessagerService"
            android:isolatedProcess="false"
            android:process=":messager"
            android:singleUser="true">
            <intent-filter android:priority="1000">
                <!-- AIDL完整路径名。必须指明，客户端能够通过AIDL类名查找到它的实现类 -->
                <action android:name="com.demo.phy.phybasedemo.service.MessagerService" />
            </intent-filter>
        </service>

        <service
            android:name="com.demo.phy.phybasedemo.service.AIDLService"
            android:isolatedProcess="false"
            android:process=":aild"
            android:singleUser="true">
            <intent-filter android:priority="1000">
                <!-- AIDL完整路径名。必须指明，客户端能够通过AIDL类名查找到它的实现类 -->
                <action android:name="com.demo.phy.phybasedemo.service.AIDLService" />
            </intent-filter>
        </service>
    </application>

</manifest>